Shell.App.ViewModels/Service References/ServiceReference/ShellService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8139/ShellService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shell.App.Service.Interfaces" />
  <xs:element name="GetLoginData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shell.App.Service.Interfaces" minOccurs="0" name="GetLoginDataResult" nillable="true" type="q1:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>